<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    id="WebApp_ID" version="5.0">

    <display-name>spring2</display-name>

    <!-- 스프링 컨텍스트 설정 정보들을 저장한 파일의 위치 -->
    <context-param>
        <param-name>contextConfigLocation</param-name><!-- contextConfigLocation은 실제로 스프링 프레임워크에서 사용되는 변수 이름(그대로를 사용), 스프링 설정 파일의 경로를 지정 -->
        <param-value>/WEB-INF/application-context.xml</param-value><!-- 서버 시작 > 설정한 bean 객체 생성. -->
    </context-param>

    <!-- Filter 설정 -->
    <filter><!--Filter 설정: Filter 클래스 직접 생성x, 스프링 프레임워크에서 제공하는 CharacterEncodingFilter 객체를 사용하여 필터를 설정. CharacterEncodingFilter: 요청과 응답의 문자 인코딩을 설정. -->
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!-- Listener 설정 -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <!-- Servlet 설정 -->
    <servlet>
        <servlet-name>dispatcherServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/servlet-context.xml</param-value><!-- Servlet 설정 xml. -->
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcherServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>